#net {
    height: 65vh;
    width: 100%;
    padding-bottom: 50px;
}

.hero {
    height: 90vh;
    width: 100%;
    background-color: #091018;
}

.lines-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circled {
    background-color: #cacaca;
    /*   background-color: #042958;*/
    width: 13px;
    height: 13px;
    border-radius: 100000px;
    border: 1px solid #9b9b9b;
}

.lines {
    height: 20px;
    width: 3px;
    background-color: #cacaca;
    border: 1px solid #9b9b9b;
}

@media only screen and (max-width: 760px) {
    #logopane {
        display: none;
    }
    #login {
        margin-top: 40px;
    }
    #signup {
        margin-top: 10px;
    }
    #net {
        height: fit-content;
        width: 100%;
        padding-bottom: 20px;
    }
    .hero {
        background-image: url("../images/sammy-delivery.png");
        background-attachment: fixed;
        background-position: center;
        height: 90vh;
        color: #fafafa;
        font-weight: bolder;
    }
    .blured {
        background-color: rgb(8, 15, 22, 0.8);
        height: 90vh;
        width: 100;
    }
    .herosmall {
        display: none;
    }
    .h {
        font-weight: bolder;
        color: #fafafa
    }
    .hideit {
        font-size: small;
    }
}

@media only screen and (max-width: 375px) {
    #logopane {
        display: none;
    }
    #login {
        margin-top: 40px;
    }
    #signup {
        margin-top: 10px;
    }
    #net {
        height: fit-content;
        width: 100%;
        padding-bottom: 20px;
    }
    .hero {
        background-image: url("../images/sammy-delivery.png");
        background-attachment: fixed;
        background-position: center;
        height: 90vh;
        color: #fafafa;
        font-weight: bolder;
    }
    .blured {
        background-color: rgb(8, 15, 22, 0.8);
        height: 90vh;
        width: 100;
    }
    .herosmall {
        display: none;
    }
    .h {
        font-weight: bolder;
        color: #fafafa
    }
    .hideit {
        font-size: small;
    }
}

@media only screen and (min-width: 760px) {
    #login {
        margin-top: 80px;
    }
    #signup {
        margin-top: 10px;
    }
}