@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap");
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

hr {
    background: yellow;
    width: 100px;
}

#blur {
    background-color: rgba(1, 8, 15, 0.9);
    height: 90%;
    width: 100%;
}

.planimg {
    width: 100px;
    height: 100px;
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fafafa
}

.faqquestion {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}

.show {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    border-radius: 4px;
}

.shadow {
    border: 2px solid rgb(243, 243, 247);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in;
}

.hide {
    display: none;
}


/* dashboard style*/

.dashboardContainer {
    display: flex;
    width: 100%;
}

.sidebar {
    height: 100vh;
    width: 12%;
    background-color: black;
    padding-top: 55px;
    overflow-y: auto;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #818181;
    display: block;
    margin-top: 20px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.maincontent {
    height: 100vh;
    width: 88%;
    background-color: whitesmoke;
    overflow-y: auto;
}

.active {
    color: rgb(1, 15, 1);
    background-color: whitesmoke
}

.active i {
    color: rgb(1, 15, 1);
}

#box {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0;
}

#iconholder {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* dashboard */

footer {
    height: fit-content;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    #heroContainer {
        background-image: url('./images/trader.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }
    .herochild {
        background: rgb(0, 0, 0, .7);
        height: 100%;
    }
    #hideable {
        display: none;
    }
    .bglaptop {
        width: 100%;
        margin: auto;
    }
    .herotext {
        color: #fafafa;
        font-weight: bolder;
        font-size: 1.5em;
        margin-top: 100px;
    }
}

@media (min-width: 768px) {
    #heroContainer {
        background-image: url('./images/trader.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .herochild {
        background: rgb(0, 0, 0, .7);
        height: 100vh;
    }
    .bglaptop {
        width: 600px;
        height: 100%;
    }
    .herotext {
        color: #fafafa;
        font-weight: bolder;
        font-size: 3em;
        margin-top: 100px;
    }
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
    .heroContainer {
        background-image: url('./images/trader.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: fit-content;
    }
}

.navbar {
    background-color: #000a0f;
    color: #fafafa
}

.shadow2 {
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.66);
}

.partners {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
}

.partnerimg:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fafafa;
    border-radius: 20px;
    z-index: 100;
}

.enlarge:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 100;
}

.box {
    height: 300px;
    background-color: #fafafa;
    border-radius: 20px;
}

.box2 {
    height: 330px;
    background-color: #fafafa;
    border-radius: 20px;
}

.minibox {
    width: fit-content;
    height: 25px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000a0f;
    color: #cacaca
}

.primary {
    background-color: #7b4bf5;
    color: #fafafa
}

.textprimary {
    color: #7b4bf5;
}

.why {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brkout {
    height: 300px;
}

#figures {
    background-image: url('./images/kai-pilger-Ef6iL87-vOA-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

.blur {
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
}